.diagnosis-history {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  top: 122px;
  left: 417px;
  //width: 70%;
  height: 686px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 16px;
  opacity: 1;
}

.diagramatic-history {
  top: 142px;
  left: 437px;
  width: 207px;
  height: 33px;
  /* UI Properties */
  text-align: left;
  font: normal normal 800 24px/33px Manrope;
  letter-spacing: 0px;
  color: #072635;
  opacity: 1;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.diagnostic-history {
  top: 142px;
  left: 437px;
  width: 207px;
  height: 33px;
  /* UI Properties */
  text-align: left;
  font: normal normal 800 24px/33px Manrope;
  letter-spacing: 0px;
  color: #072635;
  opacity: 1;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 64px;
}

.last-months {
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.diagnosis-history h3 {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 800;
}

.chart-container {
  top: 215px;
  left: 437px;
  width: 96%;
  height: 315px;
  background: #F4F0FE 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
  margin-left: 20px;
}

canvas {
  display: block;
  width: 65% !important;
  height: 260px !important;
}

.stats {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.stat {
  width: 48%;
  margin-bottom: 16px;
}

h4 {
  font-weight: 800;
}

.stat h4 {
  margin: 0 0 8px 0;
  font-size: 16px;
}

.stat p {
  margin: 0;
  font-size: 14px;
}

.status {
  font-weight: 600;
  color: #888;
}

.legend {
  margin-top: -45px;
  margin-left: 80px;
}

.legend-item {
  //display: flex;
  align-items: center;
}

.legend-color-box {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 10px;
}

.legend-systolic {
  background-color: #C26EB4;
  margin-bottom: 15px;
}

.legend-diastolic {
  background-color: #715DC3;
  margin-bottom: 15px;
}

.systolic {
  top: 231px;
  left: 957px;
  width: 55px;
  height: 19px;
  text-align: left;
  font: normal normal bold 19px/19px Manrope;
  letter-spacing: 0px;
  color: #072635;
  text-transform: capitalize;
  opacity: 1;
  margin-left: 25px;
}

.highsys {
  top: 296px;
  left: 957px;
  width: 131px;
  height: 19px;
  /* UI Properties */
  text-align: left;
  font: normal normal normal 19px/19px Manrope;
  letter-spacing: 0px;
  color: #072635;
  opacity: 1;
  margin-left: 5px;
}

.arrow-img {
  top: 303px;
  left: 939px;
  width: 10px;
  height: 5px;


  opacity: 1;
}


.sixty {
  top: 258px;
  left: 939px;
  width: 38px;
  height: 30px;
  /* UI Properties */
  text-align: left;
  font: normal normal bold 30px/30px Manrope !important;
  letter-spacing: 0px;
  color: #072635;
  text-transform: capitalize;
  opacity: 1;
  margin-bottom: 15px;
}

.Diastolic {
  top: 231px;
  left: 957px;
  width: 55px;
  height: 19px;
  text-align: left;
  font: normal normal bold 19px/19px Manrope;
  letter-spacing: 0px;
  color: #072635;
  text-transform: capitalize;
  opacity: 1;
  margin-left: 25px;
}

.status-one {
  top: 533px;
  left: 437px;
  width: 325px;
  height: 245px;
  /* UI Properties */
  background: #E0F3FA 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
  margin: 20px;
}

.status-two {
  top: 533px;
  left: 437px;
  width: 325px;
  height: 245px;
  background: #FFE6E9 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
  margin: 20px;
}

.status-three {
  top: 533px;
  left: 437px;
  width: 325px;
  height: 245px;
  background: #FFE6F1 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
  margin: 20px;
}

.respiratory {
  top: 549px;
  left: 453px;
  width: 96px;
  height: 96px;
  opacity: 1;
  margin: 20px;
}

.status-styles {
  top: 661px;
  left: 453px;
  width: 150px;
  height: 22px;
  /* UI Properties */
  margin-left: 20px;
  margin-bottom: 5px;
  text-align: left;
  font: normal normal medium 16px/22px Manrope !important;
  letter-spacing: 0px;
  color: #072635;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600;
  font-family: Manrope;
  opacity: 1;
}

.bpm-styles {
  top: 682px;
  left: 453px;
  width: 115px;
  height: 41px;
  text-align: left;
  font: normal normal 800 30px/41px Manrope;
  letter-spacing: 0px;
  color: #072635;
  opacity: 1;
  margin-left: 20px;
  font-size: 31px;
  font-weight: 800;
  font-family: Manrope;
  margin-bottom: 10px;
}

.normal-styles {
  top: 740px;
  left: 453px;
  width: 46px;
  height: 19px;
  text-align: left;
  font: normal normal normal 14px/19px Manrope;
  letter-spacing: 0px;
  color: #072635;
  opacity: 1;
  font-size: 14px;
  font-weight: 300;
  margin-left: 20px;
}

.heart-status {
  display: flex;
}