<div class="dashboard-container">
        <mat-toolbar color="primary" class="bordering">
                <img src="../assets/TestLogo.svg" class="test-logo" alt="logo">

                <span class="spacer"></span>
                <button mat-button class="menu-styles"><span><img class="image-styles" src="../assets/home.svg"
                                        alt=""></span>Overview</button>
                <button mat-button class="menu-styles active"><span><img class="image-styles" src="../assets/group.svg"
                                        alt=""></span>Patients</button>
                <button mat-button class="menu-styles"><span><img class="image-styles"
                                        src="../assets/calendar_today.svg" alt=""></span>Schedule</button>
                <button mat-button class="menu-styles"><span><img class="image-styles" src="../assets/chat_bubble.svg"
                                        alt=""></span>Message</button>
                <button mat-button class="menu-styles"><span><img class="image-styles" src="../assets/credit_card.svg"
                                        alt=""></span>Transactions</button>
                <span class="spacer"></span>
                <div class="doctor-info">
                        <div><img class="person-styles"
                                        src="../assets/senior-woman-doctor-and-portrait-smile-for-health-2023-11-27-05-18-16-utc.png">
                        </div>
                        <div style="display:flex;flex-direction: column;margin-left:10px;">
                                <span class="text-styles">Dr. Jose Simmons</span>
                                <span class="normal-styles">General practioner</span>
                        </div>
                        <div><img class="settings-styles" src="../assets/settings_FILL0_wght300_GRAD0_opsz24.png"></div>
                        <div><img class="option-styles" style="margin-left:10px;"
                                        src="../assets/more_vert_FILL0_wght300_GRAD0_opsz24.png"></div>
                </div>
        </mat-toolbar>

        <div class="content">
                <div class="sidebar">
                        <app-patients-list></app-patients-list>
                </div>
                <div class="main-content">
                        <app-diagnosis-history></app-diagnosis-history>
                        <app-diagnostic-list></app-diagnostic-list>
                </div>
                <div class="right-sidebar">
                        <app-patient-details></app-patient-details>
                        <app-lab-results></app-lab-results>
                </div>
        </div>
</div>