<div class="diagnostic-list">
  <div class="diagnosticlist-history">
    <h3>Diagnostic List</h3>
  </div>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Problem/Diagnosis</th>
          <th>Description</th>
          <th>Status</th>
        </tr>

      </thead>
      <tbody>
        <tr>
          <td>Hypertension</td>
          <td>Chronic high blood pressure</td>
          <td>Under Observation</td>
        </tr>
        <tr>
          <td>Type 2 Diabetes</td>
          <td>Insulin resistance and elevated blood sugar</td>
          <td>Cured</td>
        </tr>
        <tr>
          <td>Asthma</td>
          <td>Recurrent episodes of bronchial constriction</td>
          <td>Inactive</td>
        </tr>
        <tr>
          <td>Osteoarthritis</td>
          <td>Degenerative joint disease</td>
          <td>Undergoing Treatment</td>
        </tr>
        <tr>
          <td>Hypertension</td>
          <td>Chronic high blood pressure</td>
          <td>Under Observation</td>
        </tr>
        <tr>
          <td>Hypertension</td>
          <td>Chronic high blood pressure</td>
          <td>Under Observation</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>