.patient-card {
        max-width: 400px;
        margin: auto;
        margin-top: 20px;
}

.patient-image {
        //background-image: url('../assets/jessica.png');
        background-size: cover;
}

mat-card-title {
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
}

mat-card-content p {
        display: flex;
        align-items: center;
        font-size: 1em;
        margin: 0.5em 0;
}

mat-card-content p strong {
        margin-right: 0.5em;
}

mat-card-actions {
        display: flex;
        justify-content: center;
}

button {
        width: 100%;
}

.portfolio {
        top: 140px;
        left: 1299px;
        width: 200px;
        height: 200px;
        opacity: 1;
        margin-left: 90px;
        margin-top: 40px;
        margin-bottom: 20px;
        //background: transparent url('img/Layer 2.png') 0% 0% no-repeat padding-box;
}

.title-style {
        top: 364px;
        left: 1317px;
        width: 371px;
        height: 33px;
        margin-bottom: 30px;
        text-align: center;
        font: normal normal 800 24px/33px Manrope;
        letter-spacing: 0px;
        color: #072635;
        opacity: 1;
}

.birthicon {
        top: 429px;
        left: 1236px;
        width: 42px;
        height: 42px;
        opacity: 1;
        margin-right: 10px;
}

.dob {
        top: 429px;
        left: 1294px;
        width: 200px;
        height: 19px;

        text-align: left;
        font: normal normal medium 14px/19px Manrope;
        letter-spacing: 0px;
        color: #000000;
        text-transform: capitalize;
        opacity: 1;
        font-size: 14px;
        font-weight: 600;
        font: Manrope;

}

.tob {

        top: 429px;
        left: 1294px;
        width: 200px;
        height: 19px;

        text-align: left;
        font: normal normal medium 14px/19px Manrope;
        letter-spacing: 0px;
        color: #000000;
        text-transform: capitalize;
        opacity: 1;
        font-size: 14px;
        font-weight: 800;
        font: Manrope;
}

.info-button {
        top: 775px;
        left: 1289px;
        width: 220px;
        height: 41px;
        /* UI Properties */
        background: #01F0D0 0% 0% no-repeat padding-box;
        border-radius: 41px;
        opacity: 1;
        border-color: transparent;
        margin-bottom: 30px;
        margin-top:10px;
}