<mat-card class="patient-card">

        <img class="portfolio" [src]="this.patientDetails?.profile_picture" alt="Jessica Taylor">
        <mat-card-title class="title-style">{{this.patientDetails?.name}}</mat-card-title>
        <mat-card-content>
                <div style="display: flex;margin-bottom:20px;">
                        <img class="birthicon" src="../assets/BirthIcon.png">
                        <div>
                                <div class="dob">Date of Birth</div>
                                <div class="tob">{{this.patientDetails?.date_of_birth}}</div>
                        </div>
                </div>
                <div style="display: flex;margin-bottom:20px;">
                        <img class="birthicon" src="../assets/FemaleIcon.png">
                        <div>
                                <div class="dob">Gender</div>
                                <div class="tob">{{this.patientDetails?.gender}}</div>
                        </div>
                </div>
                <div style="display: flex;margin-bottom:20px;">
                        <img class="birthicon" src="../assets/PhoneIcon.png">
                        <div>
                                <div class="dob">Contact Info</div>
                                <div class="tob">{{this.patientDetails?.phone_number}}</div>
                        </div>
                </div>
                <div style="display: flex;margin-bottom:20px;">
                        <img class="birthicon" src="../assets/PhoneIcon.png">
                        <div>
                                <div class="dob">Emergency Contacts</div>
                                <div class="tob">{{this.patientDetails?.emergency_contact}}</div>
                        </div>
                </div>
                <div style="display: flex;margin-bottom:20px;">
                        <img class="birthicon" src="../assets/InsuranceIcon.png">
                        <div>
                                <div class="dob">Insurance Provider</div>
                                <div class="tob">{{this.patientDetails?.insurance_type}}</div>
                        </div>
                </div>
              
        </mat-card-content>
        <mat-card-actions>
                <button class="info-button" color="primary">Show All Information</button>
        </mat-card-actions>
</mat-card>